@page "/action"
@using TTTN.TaskManagement.WebApp.Components;

@if (actions == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <h3>Action</h3>
    <div class="row">
        <EditForm Model=@searchModel OnSubmit=@ActionSearch>
            <div class="row ">
                <div class="col-3">
                    <InputText class="form-control" @bind-Value=@searchModel.TextSearch></InputText>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    <button @onclick="()=>AddNew()" class="btn btn-success">Thêm mới</button>
                </div>
            </div>
        </EditForm>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ActionName</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in actions)
                {
                    <tr>
                        <td>@item.ActionId</td>
                        <td>@item.ActionName</td>
                        <td>
                            <a class="btn btn-primary" href="/action-detail/@item.ActionId">Detail</a>
                            <a class="btn btn-warning" href="/action-edit/@item.ActionId">Edit</a>
                            <button class="btn btn-danger" @onclick="()=>OnActionDelete(item.ActionId,item.ActionName)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <Pagination MetaData = "MetaData" Spread="5" SelectedPage="SelectedPage"></Pagination>
            </tfoot>
        </table>
    </div>
    <Confirmation ConfirmationTitle="Detele Action"
              @ref="DeleteConfirmation"
              ConfirmationChanged="OnConfirmDeleteAction">
    </Confirmation>
}
