@page "/action-create"
<h3>Create</h3>
<EditForm Model=@actionViewModel  OnValidSubmit="CreateAction">
    <DataAnnotationsValidator/>
    <div class="row">
        <div class="form-group col-4">
            <label> Action Name</label>
            <br />
            <input type="text" class="form-control" @bind-value=actionViewModel.ActionName placeholder="Enter action name">
            <ValidationMessage For="()=>actionViewModel.ActionName"></ValidationMessage>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>
