@page "/role"
@using TTTN.TaskManagement.WebApp.Components;

@if (roles == null)
{
        <LoadingIndicator></LoadingIndicator>
}
else
{
        <h3>Role</h3>
        <div class="row">
            <EditForm Model=@searchModel OnSubmit=@RoleSearch>
                <div class="row ">
                    <div class="col-3">
                        <InputText class="form-control" @bind-Value=@searchModel.TextSearch></InputText>
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                        <button @onclick="()=>AddNew()" class="btn btn-success">Thêm mới</button>
                    </div>
                </div>
            </EditForm>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Role Name</th>
                        <th>Created Date</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in roles)
                {
                            <tr>
                                <td>@item.RoleId</td>
                                <td>@item.RoleName</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.Description</td>
                                <td>
                                    <a class="btn btn-primary" href="/module-detail/@item.RoleId">Detail</a>
                                    <a class="btn btn-warning" href="/module-edit/@item.RoleId">Edit</a>
                                    <button class="btn btn-danger" @onclick="()=>OnRoleDelete(item.RoleId,item.RoleName)">Delete</button>
                                </td>
                            </tr>
                }
                </tbody>
            </table>
        </div>
        <Confirmation ConfirmationTitle="Detele Role"
              @ref="DeleteConfirmation"
              ConfirmationChanged="OnConfirmDeleteRole">
        </Confirmation>
}


